<footer class="footer">
  <button class="footer__button">
    <a href="#header"
      ><img src="./assets/images/ico-arrow.svg" alt="go up"
    /></a>
  </button>
  <div class="footer_conections conections">
    <ul class="conections__menu">
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >articles</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >books</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >events</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >reasons</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >tips
        </a>
      </li>
    </ul>
    <ul class="conections__social">
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >twitter</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >instagram</a
        >
      </li>
      <li class="conections__list">
        <a
          class="conections__link"
          href="https://adalab.es"
          title="enlace a la web de Adalab"
          target="_blank"
          >mastodon.social</a
        >
      </li>
    </ul>

    <p class="conections__welove">
      <span class="conections__copyright">&copy; 2021</span>
      we <span class="conections__heart">❤︎</span> components
    </p>
  </div>
</footer>
