<header class="header" id="header">
  <nav class="nav">
    <a class="nav__menu" href="https://adalab.es/" target="_blank"
      ><img
        class="nav__dropimg"
        src="./assets/images/ico-menu.svg"
        alt="desplegable"
    /></a>
    <h1 class="nav__title">anonimous proxy</h1>
    <p class="nav__paragraph">In hac habitasse platea dictumst</p>
    <a
      class="nav__button"
      href="#middle"
      title="Direct to 3 Reasons To Purchase"
      ><img src="./assets/images/ico-scroll-down.svg" alt="scroll-down icon" />
    </a>
  </nav>
</header>
