/*variables estilo sass ( simbolo $ delante)*/
$color_white: #ffffff;
$color_drop: #0271bc;
$button_arrow: #f26002;
$font_titles: "Roboto Slab", sans-serif, serif;
$paragraph_font: "Roboto", sans-serif;
$small_text: #8ccbea;
$text_greyish: #4a4a4a;
