.footer {
  background-color: #304268;
  color: $color_white;
  text-align: center;
  padding: 15px;
  &__button {
    width: 45px;
    height: 45px;
    border: 2px solid $color_white;
    border-radius: 50%;
    transform: translate(0, -80%);
  }
  &__heart {
    color: $button_color;
  }
}
.conections {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 15px;

  &__link {
    text-decoration: none;
    color: $color_white;
    text-transform: uppercase;
    font-weight: normal;
    line-height: 1.8;
  }

  &__social {
    padding: 20px;
  }
}
