.section2 {
  background-color: $bg_section2;
  text-align: center;
  padding-bottom: 70px;

  &__title {
    font-size: 26px;
    font-weight: bold;
    text-transform: capitalize;
    font-family: $font_titles;
    padding: 50px 0;
  }

  &__button {
    width: 184px;
    height: 45px;
    background-color: $button_color;
    font-size: 20px;
    color: $color_white;
    font-family: $paragraph_font;
    border-radius: 22.5px;
    border: 2px solid $button_color;
    transition: font-size ease 2s, background-color ease 2s, color ease 1s;
    &:hover {
      font-size: 25px;
      background-color: $color_white;
      color: $color_drop;
      border: solid #fdd0a9;
    }
  }

  @media all and (min-width: 1024px) {
    &__title {
      font-size: 32px;
    }
    &__button {
      width: 255px;
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
    padding: 0 90px 20px;

    @media all and (min-width: 720px) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 60px;
      padding: 0 15px;
      &__title {
        font-size: 26px;
      }
    }
  }
}
